extends layout/layout

block  variable
  - let pageName = 'about-us';

block content 
  main.main.main-about-us 
    include ./components/button-to-top.pug

    .about-us-r-18 
      .about-us-r-18__wrapper
        .about-us-r-18__logo 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 123 125' fill='none')
            mask#mask0_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask0_1350_1774)')
                path(d='M57.8225 0.269287C26.0362 0.269287 0.268555 26.0369 0.268555 57.8233C0.268555 89.6096 26.0362 115.377 57.8225 115.377C89.6088 115.377 115.371 89.6096 115.371 57.8233C115.374 26.0369 89.6088 0.269287 57.8225 0.269287Z' fill='#010005')
            mask#mask1_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask1_1350_1774)')
                path(d='M34.1308 53.6779C35.0191 53.2176 35.7054 52.5689 36.1846 51.721C36.6691 50.8785 36.9113 49.9068 36.9113 48.8086C36.9113 47.7103 36.6718 46.7386 36.1846 45.8908C35.7054 45.0482 35.0244 44.3942 34.1469 43.9339C33.2668 43.479 32.252 43.2502 31.0865 43.2502H21.9159V50.9296V54.3669H31.0838C32.2278 54.3669 33.2398 54.1381 34.1308 53.6779ZM37.7054 74.4686L28.5294 59.3412H21.6467V68.4822C21.0384 69.1471 20.2874 69.9842 19.3937 71.0016C18.4678 72.0137 17.3803 73.1685 16.1395 74.4712V60.2833V40.4562C15.7922 40.4858 15.3885 40.5181 14.9228 40.5477H13.2324V39.7671V38.6797H16.1502H16.702H21.6467H30.5777C33.0649 38.6797 35.2478 39.1077 37.1267 39.9609C39.0108 40.8088 40.4671 42.0201 41.5061 43.5893C42.5397 45.1532 43.0592 46.962 43.0592 49.0104C43.0592 51.0642 42.5343 52.873 41.4899 54.4369C40.4428 56.0062 38.9812 57.2121 37.097 58.0653C36.4214 58.3776 35.7027 58.6279 34.9464 58.8217L44.8626 74.4766H37.7054V74.4686Z' fill='white')
            mask#mask2_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask2_1350_1774)')
                path(d='M54.4045 18.99H52.4854V96.659H54.4045V18.99Z' fill='white')
            mask#mask3_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask3_1350_1774)')
                path(d='M97.9559 38.9785C98.2789 39.0916 98.5804 39.2073 98.8711 39.3258C99.1564 39.5007 99.4337 39.6838 99.6948 39.8883C99.9559 40.0606 100.217 40.2652 100.475 40.4966C100.823 40.8439 101.124 41.1911 101.385 41.5383C101.614 41.8856 101.819 42.2597 101.993 42.6635C102.198 43.0968 102.341 43.5167 102.427 43.9259C102.545 44.3592 102.615 44.8061 102.642 45.269C102.642 45.7589 102.615 46.2246 102.561 46.6579C102.475 47.0859 102.357 47.4951 102.214 47.8692C102.042 48.3026 101.837 48.7117 101.606 49.0859C101.372 49.4331 101.084 49.7803 100.736 50.1276C100.532 50.3887 100.303 50.6174 100.042 50.822C99.7513 51.0508 99.466 51.2554 99.1726 51.4303C98.8873 51.573 98.5939 51.7157 98.3032 51.8637C97.9855 51.9768 97.6706 52.0629 97.3476 52.1194C97.4956 52.0629 97.6087 52.0064 97.7002 51.9498C97.8133 51.8637 97.9156 51.791 98.0017 51.7291C98.1147 51.643 98.2009 51.5407 98.2628 51.4276C98.3489 51.3415 98.4377 51.2554 98.5239 51.1665C98.7231 50.8489 98.898 50.4856 99.0461 50.0845C99.1591 49.6511 99.2749 49.1558 99.3933 48.6094C99.4794 48.0576 99.5521 47.5112 99.6086 46.9594C99.6382 46.4372 99.6544 45.9016 99.6544 45.3552C99.6544 44.833 99.6248 44.2973 99.5683 43.7509C99.4821 43.2287 99.3798 42.6931 99.2614 42.1467C99.1187 41.6245 98.9599 41.1453 98.7877 40.712C98.6396 40.3082 98.4566 39.961 98.2197 39.6703C98.1336 39.5572 98.0448 39.455 97.9586 39.3688C97.8725 39.2827 97.7864 39.21 97.7029 39.1481C97.5845 39.0674 97.4687 38.9893 97.3503 38.9328C97.2372 38.8762 97.135 38.8197 97.0488 38.7605C97.3315 38.8197 97.6383 38.8924 97.9559 38.9785Z' fill='white')
            mask#mask4_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask4_1350_1774)')
                path(d='M76.7834 51.1288V68.4795C76.1751 69.1444 75.4241 69.9815 74.5304 70.999C73.6045 72.011 72.5224 73.1658 71.2762 74.4686V60.2806V40.4535C70.929 40.4831 70.5252 40.5154 70.0595 40.545H68.3691V39.7645V38.677H71.8387H76.7834V51.1288Z' fill='white')
            mask#mask5_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask5_1350_1774)')
                path(d='M84.9416 68.2589C84.9981 68.8969 85.1139 69.5375 85.2888 70.17C85.4019 70.7784 85.5742 71.3409 85.8083 71.8604C86.0398 72.3826 86.2982 72.8321 86.5916 73.209C86.6778 73.3839 86.7908 73.5266 86.9389 73.6423C87.0519 73.7554 87.1677 73.8577 87.2807 73.9438C87.4287 74.0299 87.5714 74.1188 87.7141 74.2049C87.8621 74.2614 88.0048 74.3314 88.1474 74.4202C87.7141 74.3072 87.3103 74.1753 86.9362 74.0326C86.527 73.9142 86.1233 73.7581 85.7195 73.5535C85.3427 73.3543 84.9793 73.1336 84.6321 72.9048C84.2902 72.676 83.9511 72.4149 83.6361 72.1242C83.2028 71.6909 82.8125 71.2467 82.4653 70.7811C82.118 70.3477 81.8273 69.8874 81.5958 69.3921C81.3643 68.9319 81.1921 68.4366 81.0736 67.9198C80.9552 67.3976 80.9014 66.8619 80.9014 66.3101C80.9014 65.7314 80.9579 65.1716 81.0736 64.6198C81.1921 64.0976 81.3643 63.5942 81.5958 63.1016C81.8246 62.6117 82.1153 62.1461 82.4653 61.7127C82.8125 61.2524 83.2001 60.8191 83.6361 60.4153C83.9538 60.1246 84.301 59.8635 84.6778 59.6347C85.0251 59.4005 85.3723 59.1852 85.7195 58.9806C86.1233 58.8084 86.527 58.6496 86.9362 58.5069C87.3076 58.3642 87.7114 58.2458 88.1474 58.1597C87.9752 58.2162 87.8298 58.2862 87.7141 58.375C87.5714 58.4611 87.4287 58.5392 87.2807 58.5957C87.1677 58.7142 87.0519 58.8245 86.9389 58.943C86.7908 59.056 86.6778 59.1879 86.5916 59.3306C86.3009 59.6778 86.0398 60.1112 85.8083 60.6333C85.5742 61.1555 85.3992 61.7477 85.2888 62.4099C85.1139 63.0478 84.9981 63.6965 84.9416 64.3613C84.8555 64.9993 84.8097 65.648 84.8097 66.3128C84.8097 66.9454 84.8555 67.5968 84.9416 68.2589Z' fill='white')
            mask#mask6_1350_1774(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='123' height='125')
                path(d='M123 0H0V124.911H123V0Z' fill='white')
            g(mask='url(#mask6_1350_1774)')
                path(d='M104.552 65.3977C104.495 65.8876 104.377 66.3694 104.204 66.8297C104 67.438 103.731 68.0463 103.381 68.6547C103.033 69.2926 102.614 69.8848 102.124 70.4339C101.69 70.9561 101.225 71.419 100.735 71.8228C100.213 72.2266 99.6526 72.5899 99.0443 72.9049C98.4602 73.2225 97.868 73.4809 97.2651 73.6855C96.6272 73.917 95.9865 74.0892 95.354 74.2077C95.5262 74.1215 95.7873 73.9869 96.1346 73.8147C96.3957 73.672 96.6568 73.5293 96.9152 73.3867C97.1763 73.2117 97.4454 73.0098 97.7388 72.773C97.8815 72.6303 98.0241 72.5011 98.1722 72.3854C98.3148 72.2427 98.4575 72.1108 98.6056 71.9978C98.7186 71.8497 98.8344 71.7071 98.9528 71.5644C99.0954 71.3894 99.1977 71.201 99.2543 71.0018C99.3969 70.6492 99.545 70.2912 99.6876 69.9144C99.8303 69.5429 99.9649 69.1634 100.081 68.7866C100.223 68.4124 100.309 67.9952 100.342 67.5295C100.398 67.0693 100.398 66.5498 100.342 65.9657C100.28 65.5323 100.194 65.0962 100.081 64.6683C99.9891 64.2645 99.8464 63.8715 99.6472 63.492C99.475 63.1205 99.2704 62.7571 99.0389 62.4099C98.7778 62.0923 98.5033 61.7774 98.2099 61.4544C97.9246 61.169 97.5773 60.8757 97.1736 60.5849C96.7644 60.2996 96.3311 60.0224 95.8708 59.7613C95.3755 59.476 94.8291 59.1987 94.2208 58.9376C93.5882 58.6765 92.9341 58.4316 92.2693 58.1974C91.4564 57.9121 90.6893 57.6106 89.9706 57.2876C89.2465 56.97 88.5978 56.6631 88.0191 56.3778C87.4377 56.0602 86.9209 55.7237 86.4552 55.3819C85.9895 55.0589 85.5723 54.744 85.1982 54.4263C84.8752 54.1033 84.5899 53.748 84.3288 53.3389C84.0677 52.9647 83.8389 52.5583 83.6343 52.1222C83.4297 51.7185 83.2709 51.2582 83.1606 50.7387C83.0125 50.2488 82.9102 49.7266 82.8537 49.1748C82.7972 48.51 82.781 47.8613 82.8133 47.2233C82.8403 46.5908 82.9398 45.9825 83.1148 45.3984C83.2629 44.8197 83.462 44.2732 83.7231 43.7537C84.0138 43.2019 84.3557 42.6797 84.7648 42.1899C85.139 41.7 85.5723 41.2639 86.0676 40.8871C86.5279 40.4833 87.0178 40.1361 87.54 39.8454C88.0595 39.5601 88.6382 39.3286 89.2761 39.1509C89.8844 38.9814 90.5331 38.8656 91.2276 38.8091H91.2734H91.3595H91.3999H91.486C91.2007 38.9221 90.7754 39.0863 90.229 39.2855C89.7956 39.4282 89.3596 39.7189 88.9262 40.1549C88.4928 40.5587 88.0568 41.0943 87.6234 41.7592C87.4242 42.0203 87.2493 42.311 87.1066 42.6286C86.9586 42.9462 86.8455 43.3096 86.754 43.7107C86.6732 44.0579 86.6275 44.4455 86.6275 44.8816C86.5979 45.2907 86.5979 45.7241 86.6275 46.1843C86.7136 46.7065 86.8159 47.2126 86.9343 47.7078C87.077 48.1681 87.26 48.6015 87.4969 49.0052C87.7257 49.4144 88.0029 49.7724 88.3206 50.0927C88.6382 50.4103 88.9746 50.7252 89.3219 51.0429C89.5211 51.1909 89.7956 51.3659 90.1455 51.5651C90.4928 51.7696 90.8965 51.985 91.3622 52.2191C91.7929 52.4183 92.3124 52.639 92.9207 52.8678C93.4967 53.0966 94.1212 53.3577 94.7914 53.6484C95.6285 53.9391 96.3957 54.2406 97.0847 54.5582C97.7792 54.8759 98.4333 55.2069 99.0416 55.5542C99.6499 55.8772 100.196 56.2082 100.686 56.5555C101.176 56.9027 101.612 57.2607 101.989 57.6375C102.393 57.9848 102.74 58.3616 103.031 58.7654C103.316 59.1395 103.577 59.546 103.814 59.982C104.013 60.3562 104.177 60.7895 104.288 61.2794C104.43 61.7747 104.533 62.2807 104.595 62.8029C104.595 62.9725 104.605 63.1609 104.635 63.3655C104.665 63.57 104.681 63.7692 104.681 63.9738C104.686 64.4583 104.64 64.9347 104.552 65.3977Z' fill='white')
        section.about-us-r-18__wr-text 
          .about-us-r-18__wr-title 
            h2.about-us-r-18__title r18
          .about-us-r-18__text 
            p
              | Мы профессиональная, открытая команда единомышленников, которая начала свой кофейный путь в 2000 году с дистрибьюции обжаренного кофе. #[br]
              | Нашими клиентами стали крупнейшие лидеры ресторанного, гостиничного и корпоративного рынков: WhiteRabbit Family, Sartoria Lamberti, Hyatt, Сбер и другие. На протяжении многих лет мы формировали нашу экспертизу в расширении ассортимента, партнерских отношениях, географической экспансии и собственном производстве.


    .about-us-art
      .about-us-art__wr-img 
        img(src=require('../img/about-us-philosophy.webp') alt="about-us-philosophy")
      .about-us-art__wr-content
        section.about-us-art__inspiration
          .about-us-art__inspiration-wr-title
            h2.about-us-art__title Вдохновение
          .about-us-art__inspiration-wr-text 
            p 
              | Мы стремимся внести особый вклад в развитие культуры потребления кофе, находясь в непрерывных поисках нового, уникального вкуса.
              | Традиционное кофейное дело является для нас неиссякаемым источником вдохновения. Без открытий и опыта прошлого не были бы возможны сегодняшние достижения.
        section.about-us-art__philosophy
          .about-us-art__philosophy-wr-title
            h2.about-us-art__title Философия обжарки
          .about-us-art__philosophy-wr-text 
            .about-us-art__philosophy-wr-quote
              p Treat your beans well. They’ve been through so much.
              p *Обращайтесь хорошо с кофейным зерном. Ведь оно прошло через многое.
            .about-us-art__philosophy-wr-article 
              p Обжарщик – настоящий мастер своего дела, способный раскрыть уникальный вкус и аромат каждого сорта кофе. Пять специалистов по обжарке – это объединение лучшего опыта. 100% контроль над процессом – именно так мы адаптируемся к естественной изменчивости, присущей кофейному зерну и окружающей среде.
            ul.about-us-art__philosophy-list
              li.about-us-art__philosophy-item Мы используем арабику только класса specialty;
              li.about-us-art__philosophy-item Профиль обжарки должен соответствовать способу приготовления кофе и проявлять природный потенциал зерна;
              li.about-us-art__philosophy-item Контроль качества важен не меньше, чем сам процесс обжарки;
              li.about-us-art__philosophy-item Дискретность в планировании и отгрузках позволяет даже большим стокам продукции всегда оставаться свежими.


    .about-us-history
      section.about-us-history__wr-text 
        .about-us-history__wr-title
          h2.about-us-history__title История

        .about-us-history__events-list 
          li.about-us-history__events-item
            .about-us-history__events-date 2018
            .about-us-history__events-text Наша компания приступила к разработке проекта собственного кофейного производства, получившего название ROASTERIA’18, позднее сокращенного до R18.
          li.about-us-history__events-item
            .about-us-history__events-date 2019
            .about-us-history__events-text В День всех влюбленных мы произвели первую обжарку на собственном производстве R18. Для нас это особенно символично, ведь любовь и страсть к кофе являются основой нашей философии.
          li.about-us-history__events-item
            .about-us-history__events-date 2020
            .about-us-history__events-text Мы достигли объема свыше 15 тонн обжаренного зерна в месяц.
          li.about-us-history__events-item
            .about-us-history__events-date 2021
            .about-us-history__events-text Нам стало тесно. Мы переезжаем в новое помещение с большей площадью.
          li.about-us-history__events-item
            .about-us-history__events-date 2022
            .about-us-history__events-text Объем производства растет стремительными темпами. В связи с этим мы закупаем еще 2 ростера.
          li.about-us-history__events-item
            .about-us-history__events-date 2023
            .about-us-history__events-text Создание концепции R18. Поиск кофейного зерна для specialty линейки. Формирование профилей обжарки.
          li.about-us-history__events-item
            .about-us-history__events-date 2024
            .about-us-history__events-text Запуск продаж линейки R18.

        .about-us-history__advantages-list 
          .about-us-history__advantages-item Обжарка на 3-х лучших ростерах – Loring S70, Giesen W30A и Diedrich IR-2.5 
          .about-us-history__advantages-item 550 квадратных метров производственной и складской площади
          .about-us-history__advantages-item Команда из 5 профессиональных обжарщиков.
        

      .about-us-history__wr-image
        img(src=require('../img/about-us-history-roaster.webp'))

    
    .about-us-equipment
      .about-us-equipment__wr-content 
        .about-us-equipment__wr-img 
          img(src=require('../img/about-us-equipment-roaster.webp'))
        section.about-us-equipment__wr-text
          .about-us-equipment__wr-title
            h2.about-us-equipment__title Наше кофейное оборудование
          .about-us-equipment__description 
            p На нашем производстве мы собрали профессиональное оборудование всех типов нагрева от компаний Loring, Giesen Coffee Roasters и Diedrich. Каждый из используемых ростеров технически совершенен и позволяет получить максимальный потенциал зерна.
          ul.about-us-equipment__list
            li.about-us-equipment__item
              p
                span Loring S70 (США) 
                span конвекционного типа нагрева, который славится своей надежностью и способностью создавать уникальные кофейные оттенки.
            li.about-us-equipment__item
              p
                span Giesen W30A (Нидерланды) 
                span барабанный ростер, оснащенный новой технологией горелки для более точной обжарки. Кофейные зерна получаются невероятно сливочными, с округлым и плотным телом.
            li.about-us-equipment__item
              p
                span Diedrich IR-2.5 (США) 
                span кондукционный ростер с мощной инфракрасной горелкой и однослойным барабаном. Обжарка R18 с помощью данного ростера придает кофе яркий, сладкий и запоминающийся вкус, вместе с тем подчёркивая кислотность и фруктово-ягодные ноты в каждом зернышке.

    section.about-us-team 
      .about-us-team__wr-title 
        h2.about-us-team__title Наша команда
      ul.about-us-team__list 
        li.about-us-team__item
          .about-us-team__wr-img
            img(src=require('../img/content/about-us-team-person-1-content.webp'))
          .about-us-team__item-wr-title
            h2.about-us-team__item-title Симаков Сергей
          ul.about-us-team__person-list
            li.about-us-team__person-item Главный идеолог и технолог проекта R18;
            li.about-us-team__person-item Опыт работы обжарщиком – более 8 лет;
            li.about-us-team__person-item Его профессионализм в области работы с зерном подтвержден многочисленными пройденными программами, такими как SCA Green Coffee, SCA Sensor Skills, Pre-Q Arabica Training, SFT Roasting Course, Cocar Sessions 2018/2019, а также 2-м местом в национальном чемпионате SCA2021 по обжарке кофе.
        li.about-us-team__item
          .about-us-team__wr-img
            img(src=require('../img/content/about-us-team-person-2-content.webp'))
          .about-us-team__item-wr-title
            h2.about-us-team__item-title Селантьева Екатерина
          ul.about-us-team__person-list
            li.about-us-team__person-item Наш амбассадор и консультант;
            li.about-us-team__person-item Кофейный стаж – 12 лет;
            li.about-us-team__person-item Своя школа бариста BrewRiot;
            li.about-us-team__person-item В прошлом co-founder сети Nook Coffee, шеф-бариста многих кофеен в Москве, судья национальных чемпионатов Brewers cup и Barista Championship;
            li.about-us-team__person-item Пройденные курсы: Introduction to coffee, Barista skills Foundation – Intermediate, Brewing Foundation – Intermediate, Sensory Foundation, Pre-Q Arabica Grading, Q Arabica Grading.
      

    section.about-us-video 
      .about-us-video__wr-title
        h2.about-us-video__title Наша Roasteria 18
      .about-us-video__wr-content 
        .about-us-video__content
          //- video(controls poster=require('../img/content/poster-about-us-content.webp'))
          //-   source(src=require('../video/about-us.MOV') type='video/mp4')
            



      