mixin navMob(obj)
    ul.nav-mob__control-list
          li.nav-mob__control-item.nav-mob__control_turn-on.nav-mob__control-item_active(data-type="on")
            svg(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 34 22' fill='none')
                path(d='M29 18.3049H1C0.447715 18.3049 0 18.7526 0 19.3049V20.5352C0 21.0875 0.447716 21.5352 1 21.5352H29C29.5523 21.5352 30 21.0875 30 20.5352V19.3049C30 18.7526 29.5523 18.3049 29 18.3049Z' fill='white')
                path(d='M33 8.95844H1.13086C0.578575 8.95844 0.130859 9.40615 0.130859 9.95844V11.9883C0.130859 12.5405 0.578575 12.9883 1.13086 12.9883H33C33.5523 12.9883 34 12.5405 34 11.9883V9.95844C34 9.40615 33.5523 8.95844 33 8.95844Z' fill='white')
                path(d='M28.9999 0H1.13086C0.578575 0 0.130859 0.447716 0.130859 1V3.02983C0.130859 3.58211 0.578575 4.02983 1.13086 4.02983H28.9999C29.5522 4.02983 29.9999 3.58211 29.9999 3.02983V1C29.9999 0.447715 29.5522 0 28.9999 0Z' fill='white')
          li.nav-mob__control-item.nav-mob__control_turn-off(data-type="off")
            svg(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 23 23' fill='none')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M19.4124 0C19.4124 0 19.4152 0.00116067 19.4178 0.00380325L22.3195 2.90542C22.3221 2.908 22.3232 2.91077 22.3232 2.91077V2.91528C22.3232 2.91528 22.3221 2.91792 22.3194 2.92056L14.0784 11.1616L22.3194 19.4027L22.3226 19.4066L22.3232 19.4081V19.4126C22.3232 19.4126 22.3221 19.4152 22.3194 19.4179L19.4178 22.3195C19.4152 22.3221 19.4124 22.3233 19.4124 22.3233H19.4079C19.4079 22.3233 19.4053 22.3221 19.4026 22.3195L11.1616 14.0784L2.92063 22.3194C2.91792 22.3221 2.91521 22.3232 2.91521 22.3232H2.9107C2.9107 22.3232 2.90806 22.3221 2.90542 22.3194L0.0037384 19.4178C0.00205406 19.4164 0.000766587 19.4145 0 19.4124V19.4079C0 19.4079 0.00116067 19.4053 0.00380325 19.4026L8.24478 11.1616L0.00380325 2.92063L0.000579834 2.9167L0 2.91521V2.9107C0 2.9107 0.00116067 2.90806 0.00380325 2.90542L2.90542 0.0037384C2.908 0.00116028 2.91077 0 2.91077 0H2.91528C2.91528 0 2.91792 0.00116067 2.92056 0.00380325L11.1616 8.24478L19.4027 0.00380325C19.4053 0.00116067 19.4081 0 19.4081 0H19.4124Z' fill='white')

    ul.nav-mob-list
        each item in obj
            li.nav-mob__item(data-item=item.title)
                if item.link
                    a.nav-mob__item-link(href=item.link title=item.title) #{item.name}
                else 
                    | #{item.name}
            if item.title === 'coffee'
                li.nav-mob__sub-item
                    ul.nav-mob__sub-menu-coffee-list
                    //- li.nav-mob__sub-menu-coffee-item